:root {
    --var-tile-font-color: #000;
    --var-tile-bg: #FFF;
    --var-tile-border: #000;
    --var-block-border: #000;
    --var-button-color: #7d7dff;
    --var-background-color: #FFF;
    --var-background-dark-color: #000;
    --var-highlight-light: #fbffb6;
}

body {
    text-align: center;
}

.tile {
    position: relative;
    border: 1px solid var(--var-tile-border);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 5vh;
    margin: -1px 0 0 -1px;
    background: var(--var-tile-bg);
    color: var(--var-tile-font-color);
}

.block {
    position: relative;
}

.block:after {
    color: #E9E9E9; 
    position: absolute;
    font-size: 15vh;
    content: attr(id);
    top: 10%;
    left: 25%;
    margin: 0 auto;
    z-index: -1;  
}
#sudoku,.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#sudoku {
    height: 60vh;
    width: 60vh;
    margin: 0 auto;
    grid-gap: 5px;
    background: var(--var-block-border);
    padding: 1px 0 0 1px;
}
.highlight {
    background: var(--var-highlight-light);
}
.wrong {
    
}
#start {}

