:root {
    --var-grid-color: #000;
    --var-button-color: #7d7dff;
    --var-background-color: #FFF;
    --var-background-dark-color: #000;
}

.tile {
    position: relative;
}

.tile:after {
/* Shows tile id in each tile  */
    position: absolute;
    content: attr("data-src");
    top: 0;
    right: 0;
}

.block {
    position: relative;
}
.block:after {
    position: absolute;
    content: attr("id");
}

#sudoku {}
#timer {}
#start {}
